// Menu wrapper
.menu-list {
  width: 224px;

  .menu-item {
    margin-left: 0;
  }
}

.menu-popper {
  padding-bottom: 8px;
}

.menu-body {
  overflow-y: auto;
  overflow-x: hidden;
  // > .menu-item {
  //   font-size: 1.4rem;
  //   font-family: SofiaPro;
  //   font-weight: 400;
  // }
}

// Menu item
.menu-item {
  font-weight: 600;
  width: 100%;
  padding: 9px 16px;
  border-radius: 0px;
  justify-content: flex-start;
  &.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
  }
  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}

// Header
.header {
  position: relative;
  display: flex;
  flex-shrink: 0;
  height: 50px;
  // width: 42px;
  margin-top: -8px;
  + .menu-body {
    > .menu-item {
      font-size: 1.4rem;
      font-family: SofiaPro;
      font-weight: 400;
      padding: 9px 24px;
    }
  }
}
.back-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50px;
  // height: 100%;
  background-color: transparent;
  cursor: pointer;
}
.header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
}
